{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}


<div class="container">
    <h1>SpaceBlog</h1>
    <div class="container">
    <div class="row">
        {% for article in articles %}
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="{{ article.cover }}" class="card-img-top" alt="{{article.title}} illustration">
                <div class="card-body">
                    <h5 class="card-title">{{article.title}}</h5>
                    <a href="{{path('show_article', {'slug': article.slug, 'id': article.id})}}" class="btn btn-primary">Read more</a>
                </div>
                <div class="card-footer">
                    <small>{{article.createdAt|date('y-m-d')}}</small>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>
{% endblock %}
