{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <p class="carousel-caption">
            <span>DECOUVREZ L'ESPACE</span>
            <span>COMME JAMAIS</span>
            <span>AUPARAVANT</span>
        </p>
        <img class="logo1" src="{{ asset( 'build/space-shuttle-g119fb5bb2_1920.jpg') }}" >       
    </div> 
    
    <div class="container">
        <h2>Nos articles</h2>
        <div class="row">
            {% for article in articles %}
            <div class="col-4 p-1">
            <a style="text-decoration:none" href="{{path('show_article', {'slug': article.slug, 'id': article.id})}}">
                <div class="card1">
                    <img src="{{ article.cover }}" class="card-img-top1" alt="{{article.title}} illustration">
                    <div class="card-body">
                        <h5 class="card-title1">{{article.title}}</h5>
                    </div>
                </div>
            </a>   
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
